.available-shifts
{
	margin-top: 2%;
    width: 86%;
}
.add_shiftContainer
{
    margin-top: -4%;
    margin-bottom: 4%;
}
.warning
{
	box-shadow: inset 0px 0px 0.8px 0.8px rgba(255, 8, 8, 0.93)
}
.width-150
{
	width: 150px;
}
.border-none
{
	border:none;
}